# Basic setup
BROWSER=chromium
ENVIRONMENT=QA
LOG_LEVEL=info
RETRIES=1
WORKERS=
BASE_URL=
# DEV_BASE_URL=
# QA_BASE_URL=
# STAGE_BASE_URL=
# PROD_BASE_URL=

# CI-specific setup
CI=false
CI_WORKERS=1
HEADLESS=false
PROJECT=
VIDEO_CI=true

# Ordered execution
# ORDER_MODE=priority
# ORDERED_TAGS=P1,P3,NoPriority
# SCOPE_TAGS=@smoke,@banking
# FAILURE_POLICY=critical or continue or immediate
# ENABLE_BUCKET_GROUPING=true
